/*   Feature Section FIRST CSS */

.wrap-feature {
    margin: 25px 0 0 0 !important;
    /* padding-bottom: 25px; */

    padding: 0 20px 25px;

}

.feature-btn {
    color: #FFFFFF;
    background-color: #1A938A;
    font-size: 25px;
    font-weight: 700;
    line-height: 94px;
    border-radius: 50px;
    padding: 0 10px 0 10px;
    margin-top: 50px;
    height: 55px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
}

.feature-heading {
    text-align: center;
    font-size: 86px;
    font-weight: 600;
    line-height: 94px;
    padding-top: 10px;
}

.feature-card {
    align-items: center;
    text-align: center;
    width: 412px;
}

.f-card-img {
    background-color: aqua;
    background: #1A938A;
    width: 132px;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.f-card-heading {
    font-size: 28px;
    font-weight: 900;
    line-height: 60px;
    margin: 0 !important;
    padding: 10px;
}

.f-card-content {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    text-align: left;
    margin: 0 !important;
    padding: 0 50px;
}

.wrap-feature-card {
    margin-top: 50px;
}

.cust-color {
    background: #FFBF3E;

}


/*   Feature Section SECOND CSS */

.f-section-1{
    display: flex;
}


.cust-heading {
    text-align: start;
}

.f-card-content-second {
    font-size: 18px;
    line-height: 36px;
    font-weight: 500;
    text-align: left;
    margin: 0 !important;
    width: 512px;
    position: relative;
    top: 110px;
    right: 165px;
}

.color-section {
    background: #EAFAF8;
    padding: 5px 0 0 0;
}

.rect-heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    display: inline-block;
    padding: 0 50px;
}

.rect-content {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    text-align: left;
    display: block;
    margin: 0 !important;
    padding: 0 50px;
}

.feature-tab {
    width: 590px;
    height: 448px;
    /* max-width: 100%; */
    border-radius: 25px;
    padding-bottom: 10px;
}

.rect-card-wrap {
    display: flex;
    justify-content: start;
}
.rect-card-wrap-top  {
    display: flex;
    justify-content: start;
    /* text-align: center; */
    padding-bottom: 20px;
}

.card-div{
    text-align: center;
    
}



@media (max-width: 950px) {
    .feature-tab{
        height: Auto;
        width: 326px;
    }

    .f-card-content-second {
        position: static;
        text-align: left;
        display: block !important;
        padding: 40px 0;
        
    }

   

    /* .rect-card-wrap{
        flex-direction: column;
    } */
    .rect-card:nth-child(odd) .rect-card-wrap {
        /* flex-direction: column; */
        flex-direction: column-reverse;
    }
    .rect-card:nth-child(odd) .rect-card-wrap .card-div {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    .rect-card:nth-child(even) .rect-card-wrap{
        flex-direction: column;
        /* flex-direction: column-reverse; */
    }
    .rect-card:nth-child(even) .rect-card-wrap .card-div{
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    .f-section-1{
        display: block;
    }
    .f-section-1 p {
        width: 100%;
    }
    .rect-card-wrap-top  {
        display: block;
        
    }

}

@media (min-width: 951px) and (max-width: 1350px) {
    .f-card-content-second {
        font-size: 18px;
        line-height: 36px;
        font-weight: 500;
        text-align: left;
        margin: 0 !important;
        width: 512px;
        position: static;
       
        /* top: 110px;
        right: 165px; */
    }
}


@media (max-width: 500px) {

    .feature-card {
        width: 300px;
    }

    .f-card-content {
        padding: 0 25px;
    }

    .feature-tab{
        height: Auto;
        width: 250px;
    }
    
}



/* d-flex justify-content-start */